# Prerequisites
*.d
.cache/
CMakeFiles/
docs/html/
python/tests/__pycache__/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
install_manifest.txt
docs/Doxyfile.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
